@import "variables";
@import "mixins";
.tips {
    margin-top: 2rem;
  
   &-header {
   
    font-size: $font-xs;
    color : $darkGrayishCyan;
    font-weight: 700;
    @include breakpoint-up(large) { 
        font-size: $font-sm;
    }
   }

   
}

.percents {
   
 text-align: center;
grid-template-columns: repeat(2, minmax(0,1fr));

grid-template-areas: 
"five ten"
"onefive twofive"
"fifty custom";
column-gap: 1rem;
font-size: $font-md;
input {
  margin: 1.5rem 0 1.5rem 0;
  background-color: $lightGrayishCyan;
  &::placeholder{
      opacity: 0.3;
  }
}

@include breakpoint-up(large) {
    grid-template-columns: repeat(3, minmax(0,0.5fr));
   grid-template-areas:
    "five ten onefive"
    "twofive fifty custom"  ;
    font-size: $font-mdsm;
}
}
.percents > p {
   
    cursor: pointer;
 border-radius: 10px;
    background-color: $veryDarkCyan;
color: $white;
@include breakpoint-up(large) {
    border-radius: 5px;
    
}
    
&:hover {
    transition: 100ms ease-in-out;
background-color: $strongCyan;
color: black;
}
    }




.box5 {
grid-area: five;

}

.box10 {
    grid-area: ten;
}
.box15 {
    grid-area: onefive;
}
.box25 {
    grid-area: twofive;
}
.box50 {
    grid-area: fifty;
}
.custom {

  text-align: center;
    grid-area: custom;
   
    &:hover {
        color:black;
    }
    
        
    
}

