

//Color

//Primary

$strongCyan: hsl(172, 67%, 45%);
$lightBlue: #c5e4e7;
$lightBlueShadow: #afd3d6;
//Neutral

$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$darkGrayishCyan: hsl(184, 14%, 56%);
$veryLightGrayishCyan: hsl(185, 58%, 89%);
$lightGrayishCyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

//Font-family
$spaceMono: 'Space Mono';

//Font size
$font-xs: 1rem;
$font-mdsm: 1.25rem;
$font-md: 1.5rem;
$font-sm: 1.125rem;
$font-mdlg: 1.85rem;